@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

.soicalicons-containner {
    background: none;
    font-size: 36px;
    position: absolute;
    top: 28rem;
    left: 18rem;
    animation: float 3s ease-in-out infinite; 
}

@media screen and (max-width:700px) {
    .soicalicons-containner {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        width: 14rem;
        left: 20%;
        top: 28rem;
        font-size: 32px;
        animation: float 3s ease-in-out infinite; /* Apply floating animation on mobile */
    }
}



.soicalicons-containner a {
    margin: 0rem 1rem;
    transition-property: transform;
    transition-duration: 1s;
}


