@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

.devInfo {
    position: absolute;
    background: none;
    top: 18rem;
    left: 10rem;
    animation: float 3s ease-in-out infinite; 
}

@media screen and (max-width: 700px) {
    .devInfo {
        position: absolute;
        top: 18rem;
        left: 20vw;
        width: 80vw;
        background: none;
        animation: float 3s ease-in-out infinite; 
    }
}


.devName {
    font-size: 42px;
    color: #fa8815;
}

#star1{
    color: rgb(247, 243, 243);
    font-size: 14px;

    position: absolute;
    top: 10rem;
    left: 48rem;
    animation: float 2s ease-in-out infinite;
}
.star{
    height: 3rem;
    width: 3rem;
    display: block;
}
#star1 span{
    background: none;
}

@media screen and (max-width:700px) {
    .devName {
        font-size: 19px;
        background: none;
        text-shadow: none;
    }
}

.devBio {
    color: antiquewhite;
    text-align: center;
    display: block;
    width: 36rem;
}

@media screen and (max-width:700px) {
    .devBio {
        font-size: 12px;
        background: none;
        width: 16rem;
        text-align: center;
        word-wrap: break-word;
    }
}




