.footer{
    position: fixed;
    bottom: 0rem;
    margin: 2rem;
    padding: 0;
    text-align: center;

    background: none;
    color: #fa8815;
    width: 100vw;
    height: 1rem;
    font-size: 14px;
}
@media screen and (max-width: 700px) {
    .footer{
        visibility: hidden;
    }
}