@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');

*{
  background-color: #2a2828;
  background-image: url('../src/assest/bg.jpg');


  background-attachment: fixed;
  background-size: cover;
  
  font-family: 'Bruno Ace', cursive;
  /* background-color: #f4f3ee; */

  list-style: none;
  text-decoration: none;
}